@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-blue: rgb(20, 135, 211);

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 90px;
    .logo {
        color: #555;
        font-size: 30px;
        text-decoration: none;
    }
    .header-info {
        a {
            text-decoration: none;
            color: #888;
            padding-left: 17px;
        }
        .icon {
            margin-left: 10px;
            color: #555;
            font-size: 1.2rem;
            border-left: 2px solid #888;
        }
    }
    .another {
        .login {
            text-decoration: none;
            color: #888;
            border-right: 2px solid #888;
        }
        .signup {
            text-decoration: none;
        }
    }
}

@media (max-width: 720px) {
    header {
        .logo {
            font-size: 20px;
        }
        .another {
            margin-right: -30px;
        }
    }

    .main-section {
        .main-container {
            img {
                width: 400px;
                top: 80%;
            }
            .category {
                top: 30%;
                h2 {
                    font-size: 30px;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 590px) {
    header {
        margin-bottom: 15px;
    }
    .main-section {
        .main-container {
            .category {
                top: 40%;
                h2 {
                    font-size: 25px;
                }
                p {
                font-size: .8rem;
            }
            
        }
    }
}
}

.main-section {
    width: 100%;
    height: 75vh;
    .main-container {
        width: 100%;
        height: 100%;
        img {
            left: 50%;
            top: 70%;
            transform: translate(-50% , -50%);
            z-index: -1;
        }
        .category {
            left: 50%;
            top: 20%;
            transform: translate(-50% , -50%);
            h2 {
                color: $main-blue;
            }
            p {
                color: #333;
                opacity: .7;
            }
            button {
                border-radius: 20px;
                cursor: pointer;
                border: 1px solid rgb(196, 192, 192);
                transition: .5s ease-in-out;
            }
            button:hover {
                background-color: $main-blue;
                color: #fff;
                transform: scale(1.1);
            }
        }
    }
}

.carts-section {
    width: 100%;
    height: fit-content;
    background-color: #222;
    .title {
        color: #fff;
    }
    .carts-container {
        .skill-cart {
            margin: 10px 30px;
            width: 150px;
            height: 150px;
            border-radius: 10px;
            transition: .3s ease-in-out;
            cursor: pointer;
            .cover {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                background-color: rgb(235, 82, 82);
                opacity: .5;
                .icon {
                    font-size: 100px;
                    text-decoration: none;
                    opacity: .5;
                    color: #222;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                }
            }
            .icon-f {
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
                font-size: 60px;
                color: #ccc;
            }
            h4 {
                left: 50%;
                bottom: -15px;
                transform: translate(-50% , -50%);
                color: #ccc;
            }
        }
        .skill-cart:hover {
            transform: scale(1.1);
        }
        .tow {
            .cover {
                background-color: rgb(74, 74, 250);
            }
        }
        .three {
            .cover {
                background-color: rgb(74, 250, 97);
            }
        }
        .four {
            .cover {
                background-color: rgb(214, 21, 182);
            }
        }
        .five {
            .cover {
                background-color: rgb(203, 250, 74);
            }
        }
    }
}

.featured {
    width: 100%;
    height: fit-content;
    .title {
        left: 50%;
        top: 10%;
        transform: translate(-50% , -50%);
        h4 {
            color: $main-blue;
        }
        h2::before {
            content: '';
            position: absolute;
            width: 120px;
            height: 2px;
            background-color: $main-blue;
            left: 15%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
        h2::after {
            content: '';
            position: absolute;
            width: 120px;
            height: 2px;
            background-color: $main-blue;
            right: -5.5%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
    }
    .carts-container {
        padding: 130px 0;
        .cart {
            width: 600px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(123, 100, 13, .30);
            overflow: hidden;
            margin: 20px 10px;
            .image {
                width: 40%;
                height: 100%;
                left: 0;
                img {
                    position: absolute;
                    left: 50%;
                    top: 30%;
                    transform: translate(-50% , -50%);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }
            .info {
                    width: 60%;
                    right: 0;
                    h5 {
                        color: purple;
                        font-weight: bold;
                    }
                    h2 {
                        color: $main-blue;
                        font-weight: bold;
                    }
                    p {
                        color: #333;
                        opacity: .8;
                        font-weight: bold;
                    }
            }
        }
    }
}

.join-section {
    width: 100%;
    height: 40vh;
    background-color: $main-blue;
    opacity: .6;
    h2 {
        left: 50%;
        top: 40%;
        transform: translate(-50% , -50%);
        color: #fff;
    }
    button {
        border: 1px solid #000;
        border-radius: 10px;
        left: 50%;
        top: 70%;
        transform: translate(-50% , -50%);
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    button:hover {
        background-color: green;
        color: #fff;
    }
}

.people {
    width: 100%;
    height: 100vh;
    .title {
        left: 50%;
        top: 10%;
        transform: translate(-50% , -50%);
        h5 {
            font-size: 17px;
            color: $main-blue;
        }
        h2 {
            color: #000;
        }
        h2::before {
            content: '';
            position: absolute;
            left: -70px;
            top:60%;
            transform: translate(-50% , -50%);
            width: 120px;
            height: 2px;
            background-color: $main-blue;
        }
        h2::after {
            content: '';
            position: absolute;
            right: -187px;
            top:60%;
            transform: translate(-50% , -50%);
            width: 120px;
            height: 2px;
            background-color: $main-blue;
        }
    }
    .cart-one {
        left: 0;
        width: 50%;
        height: 100%;
        .image {
            top: 0;
            width: 100%;
            height: 50%;
            img {
                border-radius: 50%;
                top: 80%;
                left: 50%;
                transform: translate(-50% , -50%);
                width: 200px;
                height: 200px;
            }
        }
        h3 {
            left: 50%;
            top: 70%;
            transform: translate(-50% , -50%);
        }
        p {
            left: 50%;
            top: 85%;
            transform: translate(-50% , -50%);
        }
    }
    .side-cart-1 {
        right: 0;
        top: 15%;
        width: 50%;
        height: 40%;
        .image {
            width: 40%;
            height: 100%;
            img {
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
                width: 100px;
                height: 100px;
            }
        }
        .info {
            width: 60%;
            height: 100%;
            right: 0;
        }
    }
    .side-cart-2 {
        right: 0;
        bottom: 0%;
        width: 50%;
        height: 40%;
        .image {
            width: 40%;
            height: 100%;
            img {
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
                width: 100px;
                height: 100px;
            }
        }
        .info {
            width: 60%;
            height: 100%;
            right: 0;
        }
    }
}

.subscribe {
    width: 100%;
    height: fit-content;
    .title {
        left: 50%;
        transform: translateX(-50%);
        h2 {
            color: $main-blue;
        }
    }
    .carts-container {
        padding: 70px 10px;
        .cart {
            width: 300px;
            height: 400px;
            background-color: #333;
            border-radius: 10px;
            margin: 10px;
            transition: .5s ease-in-out;
            cursor: pointer;
            .title {
                top: 0;
                width: 100%;
                height: 25%;
                border-bottom: 1px solid rgb(31, 216, 230);
                h2 {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                    color: #fff;
                }
            }
            .content {
                bottom: 0;
                width: 100%;
                height: 75%;
                h2 {
                    color: #fff;
                    span {
                        font-size: 1.2rem;
                    }
                }
                p {
                    color: rgb(235, 232, 232);
                }
                button {
                    border: 1px solid rgb(31, 216, 230);
                    background-color: transparent;
                    border-radius: 20px;
                    color: #fff;
                    cursor: pointer;
                    transition: .5s ease-in-out;
                }
                button:hover {
                    background-color: rgb(221, 0, 85);
                    transform: scale(1.1);
                    border: none;
                }
            }
        }
        .cart:hover {
            background-color: rgb(0, 182, 238);
            transform: scale(1.1);
        }
    }
}

.SignUp {
    width: 100%;
    height: 20vh;
    background-color: #222;
    .SignUp-info {
        margin: 10px 30px;
        h2 {
            color: #fff;
            font-size: 1.5rem;
        }
        p {
            color: #fff;
        }
    }
    .SignUp-input {
        margin: 10px 30px;
        input {
            border-radius: 20px;
            padding: 5px;
            width: 350px;
            height: 70px;
        }
    }
    .sumbit-button {
        button {
            width: 100px;
            height: 50px;
            padding: 5px 15px;
            border-radius: 20px;
            background-color: $main-blue;
            color: #fff;
            cursor: pointer;
            transition: .5s ease-in-out;
        }
        button:hover {
            background-color: yellowgreen;
            color: #000;
            transform: scale(1.1);
        }
    }
}

footer {
    width: 100%;
    height: fit-content;
    background-color: #111;
    .about {
        width: 60%;
        height: 100%;
        .abour-cart {
            padding: 20px 10px;
            width: 250px;
            height: 300px;
            .name {
                color: #fff;
            }
            .name:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 40px;
                height: 2px;
                background-color: $main-blue;
            }
            .category {
                bottom: 0;
                p {
                    color: #999;
                }
            }
        }
    }
    .about::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 300px;
        background-color: #444;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .contact {
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        padding: 30px;
        .contact-cart {
            top: 25%;
            .name {
                color: #777;
            }
            .social-icons {
                a {
                    text-decoration: none;
                    font-size: 30px;
                    margin: 0 5px;
                    color: #777;
                    transition: .1s ease-in-out;
                }
                a:hover {
                    color: $main-blue;
                }
            }
        }
        .contact-cart-2 {
            bottom: 20%;
            h2 {
                font-size: 20px;
                color: #777;
            }
        }
    }
}
